<div class="contact-section section">
  <div class="overlay"></div>
  <div class="bg-image"></div>

  <div class="container contact-wrapper">

    <div class="brand-subtitle">
          <span class="line"></span>
          <span class="star">✦</span>
          <h2>{{ 'CONTACT.SMALL' | translate }}</h2>
          <span class="star">✦</span>
          <span class="line"></span>
    </div>

    <h3>{{ 'CONTACT.TITLE' | translate }}</h3>

    <p>
      {{ 'CONTACT.TEXT' | translate }}
    </p>

    <div class="contact-buttons">

      <a
        href="mailto:info@clara-berning.de"
        class="btn-gold">
        E-Mail
      </a>

      <a
        href="https://discord.gg/jGKSrvEA"
        target="_blank"
        class="btn-gold">
        Discord
      </a>

    </div>

  </div>

</div>