<div class="about-decoration">
    <img src="assets/images/ranke-left.png">
    <img src="assets/images/ranke-right.png">
  </div>
<div class="container section about-wrapper">
  <div class="about-image">
    <img src="assets/images/about.png" alt="About Clara Berning">
  </div>

  <div class="about-content">

     <div class="brand-subtitle">
        <span class="line"></span>
        <span class="star">✦</span>
        <h2>{{ 'ABOUT.SMALL' | translate }}</h2>
        <span class="star">✦</span>
        <span class="line"></span>
    </div>

    <h2 class="about-title">
      {{ 'ABOUT.TITLE' | translate }}
      <span>Clara.</span>
    </h2>

    <p>
      {{ 'ABOUT.TEXT1' | translate }}
    </p>

    <p>
      {{ 'ABOUT.TEXT2' | translate }}
    </p>

    <p>
      {{ 'ABOUT.TEXT3' | translate }}
    </p>

    <p class="outro-text">
      {{ 'ABOUT.OUTRO' | translate }}
    </p>

  </div>

</div>