<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-container">

    <div class="logo-section">
      <img src="/assets/images/logo1-transparent.png" alt="Clara Berning Books Logo" />
    </div>

    <div class="center-section">
      <nav class="nav-links">
        <a href="#">{{ 'NAV.HOME' | translate }}</a>
        <a href="#about">{{ 'NAV.ABOUT' | translate }}</a>
        <a href="#books">{{ 'NAV.BOOKS' | translate }}</a>
        <a href="#contect">{{ 'NAV.CONTACT' | translate }}</a>
        <a routerLink="/impressum">{{ 'FOOTER.IMPRINT' | translate }}</a>
        <a routerLink="/datenschutz">{{ 'FOOTER.PRIVACY' | translate }}</a>
      </nav>

      <div class="copyright">
        {{ 'FOOTER.COPYRIGHT' | translate }}
      </div>
    </div>

    <div class="social-section">
      <a href="mailto:info@clara-berning.de" aria-label="E-Mail">
        <i class="bi bi-envelope"></i>
      </a>

      <a href="#" aria-label="Discord">
        <i class="bi bi-discord"></i>
      </a>
    </div>
  </div>
</footer>