<header class="navbar">

  <div class="nav-inner">

    <div class="nav-left">

      <nav>
      <a href="#hero" class="active">{{ 'NAV.HOME' | translate }}</a>
      <a href="#about">{{ 'NAV.ABOUT' | translate }}</a>
      <a href="#books">{{ 'NAV.BOOKS' | translate }}</a>
      <a href="#contact">{{ 'NAV.CONTACT' | translate }}</a>
    </nav>

    </div>

    <div class="nav-right">

      <div class="socials">

        <a
          href="https://instagram.com/deinprofil"
          target="_blank"
          aria-label="Instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a
          href="mailto:deine.mail@outlook.com"
          aria-label="E-Mail"
        >
          <i class="fa-regular fa-envelope"></i>
        </a>

      </div>

      <app-language-switcher></app-language-switcher>

    </div>

  </div>

</header>