<header class="navbar">

  <div class="nav-inner">

    <div class="nav-left">

      <nav>
      <a href="#hero" class="active">{{ 'NAV.HOME' | translate }}</a>
      <a href="#about">{{ 'NAV.ABOUT' | translate }}</a>
      <a href="#books">{{ 'NAV.BOOKS' | translate }}</a>
      <a href="#contact">{{ 'NAV.CONTACT' | translate }}</a>
    </nav>

    </div>

    <div class="nav-right">

      <div class="socials">

        <a
          href="mailto:info@clara-berning.de"
          aria-label="E-Mail"
        >
          <i class="fa-regular fa-envelope"></i>
        </a>

        <a
          href="https://discord.gg/jGKSrvEA"
          target="_blank"
          aria-label="Discord"
        >
          <i class="fa-brands fa-discord"></i>
        </a>

      </div>

      <app-language-switcher></app-language-switcher>

    </div>

  </div>

</header>