
<div class="hero">
  <div class="hero-container">
    <div class="overlay"></div>

    <div class="content-wrapper">
      <div class="container hero-content">

        <div class="hero-left">
          <img src="assets/favicon.png" class="hero-logo">
        </div>

        <div class="luxury-divider">
          <span class="ornament top"></span>
          <span class="ornament center"></span>
          <span class="ornament bottom"></span>
        </div>

        <div class="hero-text">

        <div class="brand-title">

          <h1>
            Clara<br>
            Berning
          </h1>

          <div class="brand-subtitle">

            <span class="line"></span>

            <span class="star">✦</span>

            <h2>Books</h2>

            <span class="star">✦</span>

            <span class="line"></span>

          </div>

        </div>

        <h3 class="hero-subtitle">
          {{ 'HERO.SUBTITLE' | translate }}
        </h3>

        <p>
          {{ 'HERO.TEXT' | translate }}
        </p>

      </div>
    </div>

    <div class="hero-info">
      <p>
          {{ 'HERO.INFO_TEXT' | translate }}
        </p>

        <a href="#books" class="btn-gold">
          {{ 'HERO.BUTTON' | translate }}
        </a>
    </div>
    </div>
    
  </div>
</div>


