<div class="modal-overlay" (click)="closeModal()">

  <div class="modal-content" (click)="$event.stopPropagation()">

    <button class="close-button" (click)="closeModal()">
      ×
    </button>

    <div class="cover-column">
      <img [src]="book.image" [alt]="book.title">
      <p *ngIf="!book.releasedate">{{ 'BOOKS.RELEASE_DATE' | translate }}: TBA</p>
      <p *ngIf="book.releasedate">{{ 'BOOKS.RELEASE_DATE' | translate }}: {{ book.releasedate }}</p>
      <a *ngIf="book.thalia"
        class="btn-gold"
        href="{{book.thalia}}"
        target="_blank"
      >
        {{ 'BOOKS.THALIA' | translate }}
      </a>
      <a *ngIf="book.amazon"
        class="btn-gold"
        href="{{book.amazon}}"
        target="_blank"
      >
        {{ 'BOOKS.AMAZON' | translate }}
      </a>
    </div>

    <div class="book-infos">
        <h2>{{ book.title }}</h2>

        <h3 *ngIf="book.subtitle">{{ book.subtitle }}</h3>

        <p>{{ book.blurb }}</p>

        
    </div>

  </div>

</div>