@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Cormorant+Garamond:wght@300;400;500;600&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decoration:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

html {
  scroll-behavior: smooth;

   @include mat.theme((
    color: mat.$azure-palette,
    density: 0
  ));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 1.4;
  text-transform: none !important;
}

body {
  background: #070707;
  color: #e7d3ae;
  font-family: 'Cormorant Garamond', serif;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cinzel', serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.15;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(198,139,61,.12);
  letter-spacing: 1.6px;
  line-height: 1.4;
  font-family: "Cormorant Garamond", serif;
}

.container {
  width: min(1200px, 90%);
  margin: auto;
}

.gold {
  color: #d6a85f;
}

.section {
  padding: 7rem 0;
}

.btn-gold {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  padding: 1rem 2.8rem;
  margin-bottom: 3rem;
  max-width: fit-content;

  border: 1px solid rgba(214,168,95,.7);
  background:
    linear-gradient(
      to bottom,
      rgba(20,20,20,.9),
      rgba(5,5,5,.95)
    );

  color: #d6a85f;
  text-decoration: none;
  font-family: 'Cinzel', serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  cursor: pointer;

  overflow: hidden;
  transition:
    all 0.35s ease;
  box-shadow:
    0 0 0 rgba(214,168,95,0),
    inset 0 0 0 rgba(255,255,255,0);
}

/* INNER GLOW BORDER */

.btn-gold::before {
  content: '';
  position: absolute;
  inset: 3px;
  border: 1px solid rgba(214,168,95,.15);
  pointer-events: none;
}

/* STAR */

.btn-gold::after {
  content: '✦';
  font-size: 0.8rem;
  color: #d6a85f;
  margin-left: 0.4rem;
  text-shadow: 0 0 10px rgba(214,168,95,.45);
}

/* HOVER */

.btn-gold:hover {
  transform: translateY(-2px);
  color: #f7deb2;
  border-color: #f3d7a0;

  box-shadow:
    0 0 20px rgba(214,168,95,.15),
    0 0 40px rgba(214,168,95,.08),
    inset 0 0 12px rgba(255,255,255,.03);

  background:
    linear-gradient(
      to bottom,
      rgba(30,20,8,.95),
      rgba(10,10,10,1)
    );
}

/* HOVER STAR */

.btn-gold:hover::after {
  transform: scale(1.15);

  color: #fff1d2;
}

/* ACTIVE */

.btn-gold:active {
  transform: translateY(0);
}


.back-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position:absolute;
  left: 5%;

  background: transparent;
  border: 1px solid rgba(212, 176, 106, 0.25);
  color: #d4b06a;

  padding: 12px 22px;
  border-radius: 14px;

  font-size: 1.3rem;
  letter-spacing: 0.5px;
  cursor: pointer;

  margin-bottom: 40px;

  transition: all 0.3s ease;

  &:hover {
    background: rgba(212, 176, 106, 0.08);
    border-color: rgba(212, 176, 106, 0.5);

    transform: translateX(-3px);
  }
}

.brand-subtitle {
  display: flex;

  align-items: center;

  justify-content: center;

  gap: 1rem;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  width: fit-content;
}

/* HEADING */

.brand-subtitle {
  margin-bottom: 2rem;
}

.brand-subtitle h2 {
  font-family: 'Cinzel', serif;

  font-size: 1.8rem;

  font-weight: 400;

  letter-spacing: 8px;

  text-transform: uppercase;

  margin: 0;

  white-space: nowrap;

  background: linear-gradient(
    to bottom,
    #fff6e6 0%,
    #f0c980 40%,
    #c68b3d 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LINES */

.brand-subtitle .line {
  width: 120px;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    #d6a85f,
    #f7deb2,
    #d6a85f,
    transparent
  );

  opacity: 0.95;
}

/* STARS */

.brand-subtitle .star {
  font-size: 0.75rem;

  color: #d6a85f;

  transform: translateY(-1px);

  text-shadow:
    0 0 8px rgba(214,168,95,.45);
}

.hero-subtitle {
  font-family: 'Cinzel', serif;

  font-size: 1.8rem;

  font-weight: 400;

  letter-spacing: 2px;

  text-transform: uppercase;

  line-height: 1.3;

  margin-top: 2.5rem;
  margin-bottom: 1.5rem;

  white-space: pre-line;

  color: #f3e5c8;

  text-shadow:
    0 0 10px rgba(255,255,255,.05);
}